# dependencies
node_modules/

# build outputs
dist/
dist_electron/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# env / secrets
.env
.env.*

# Electron / Vite caches
.vite/
.cache/

# C# build artifacts
**/bin/
**/obj/

